<div *ngIf="course$ | async as course">

  <div class='imageDisplay'>
    <img [src]="course?.imageUrl || 'assets/images/noimage.png'">
  </div>
  <h2> {{ course.name }} </h2>
  <p> {{ course.description }} </p>

  <mat-accordion>
    <mat-expansion-panel *ngFor="let lecture of course.lectures">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{lecture.name }}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>
        {{ lecture.description }}
      </ng-template>

      <mat-action-row>
        <button mat-button
                color="primary"
                [disabled]="!(auth.user$ | async)"
                (click)="playVideo(lecture.id)">Watch</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>


  <div fxLayout="row"
       fxLayoutAlign="end center"
       style="margin: 1em 0;">
    <button mat-raised-button
            color="primary"
            [disabled]="!(auth.user$ | async)"
            (click)="enroll()">Enroll</button>
  </div>
</div>
