@import 'mixins';

:host {
  @include relative_full();
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.sidenav {
  padding: 20px;
}

.sidenav-content {
  padding: 1em;
}

.mat-progress-bar {
  height: 1px;
}

.mat-list-item-content {
  justify-content: flex-end;
  text-align: end;
}
