@import 'mixins';

:host {
  @include relative_full();
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.sidenav {
  padding: 20px;
}

.sidenav-content {
  @include relative_full();
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
}
