<app-navbar>
  ORIGAMI
  <button type="button"
          mat-button
          (click)="drawer.toggle()">
    Toggle sidenav
  </button>
</app-navbar>

<!-- <mat-sidenav-container fxFlex='grow'>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container> -->


<mat-drawer-container fxFlex='grow'>
  <mat-drawer #drawer
              class="sidenav"
              mode="side">
    <p>sidenav</p>
  </mat-drawer>

  <mat-drawer-content class="sidenav-content">
    <router-outlet></router-outlet>
  </mat-drawer-content>

</mat-drawer-container>
