<app-navbar>
  <button mat-icon-button
          (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>

  <app-logo></app-logo>
  <!-- <img fxFlexAlign="center"
       src="assets/logos/png/ori-logo-full-white.png"
       style="height: 50%; margin: 0 2.5em 0 0.5em;"> -->

  <navbar-item *ngFor="let route of routes"
               [ngClass]="{ 'selected': router.url.includes(route.path) }"
               (click)="navigateTo(route.path)"
               [fxShow]="showLink(route)">
    {{ route.label }}
  </navbar-item>

  <div fxFlex="grow"
       fxLayout="row"
       fxLayoutAlign="end"
       style="height: 100%;">

    <div *ngIf="auth.user$ | async as user; then authenticated else guest"></div>


    <ng-template #authenticated>

      <div id='info'
           fxLayout="row"
           fxLayoutAlign="space-around center">

        <mat-icon> all_out </mat-icon>
        <mat-icon> forum </mat-icon>
        <mat-icon matBadge="2"> notifications </mat-icon>
      </div>
      <!-- 
      <button mat-mini-fab
              *ngIf="user"
              [style.background]="'url('+ user.photoURL + ')'"
              [style.backgroundSize]="'cover'"
              style="margin: 0 1em;"
              [matMenuTriggerFor]="menu">
      </button> -->

      <div id="username"
           fxLayout="row"
           fxLayoutAlign="space-around center"
           [matMenuTriggerFor]="menu">
        <span> {{ user?.displayName }} </span>
        <mat-icon> expand_more </mat-icon>
        <img class='avator'
             [src]="user.photoURL">
      </div>

      <mat-menu #menu="matMenu">
        <!-- <button mat-menu-item>Item 1</button> -->
        <mat-list>
          <h3 mat-subheader>Info</h3>
          <mat-list-item>
            <mat-icon mat-list-icon>account_circle</mat-icon>
            <p mat-line> {{ user?.displayName }} </p>
          </mat-list-item>
          <mat-list-item>
            <mat-icon mat-list-icon>email</mat-icon>
            <p mat-line> {{ user?.email }} </p>
          </mat-list-item>
          <mat-divider></mat-divider>
        </mat-list>

        <mat-action-list style="padding: 0.5em 1em 0 1em; display: flex; justify-content: flex-end;">
          <button mat-button
                  (click)="auth.signOut()">
            <span>Logout</span>
            <mat-icon>exit_to_app</mat-icon>
          </button>
        </mat-action-list>

      </mat-menu>
    </ng-template>

    <ng-template #guest>
      <button mat-button
              style="margin-right: 1em;"
              (click)="auth.googleSignin()">
        <mat-icon>account_circle</mat-icon>
        <span>Login</span>
      </button>
    </ng-template>

  </div>
</app-navbar>

<mat-progress-bar *ngIf="(loading$ | async) > 0"
                  mode="determinate"
                  [value]="loading$ | async"
                  [bufferValue]="(loading$ | async) + ((loading$ | async) % 7 + 5)"></mat-progress-bar>

<mat-drawer-container fxFlex='grow'>
  <mat-drawer #drawer
              class="sidenav"
              mode="side">

    <iframe *ngIf="calenderURL"
            [src]="calenderURL"
            style="border: 0"
            width="400"
            height="400"
            frameborder="0"
            scrolling="no"></iframe>
  </mat-drawer>

  <mat-drawer-content class="sidenav-content">
    <router-outlet></router-outlet>
  </mat-drawer-content>

</mat-drawer-container>
