@import 'mixins';

:host {
  @include relative_full();
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

app-navbar {
  background-color: #43425D;

  /deep/ &>* {
    color: white !important;
  }
}

// .mat-icon {
//   color: #A5A4BF !important;
// }

.menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  height: 100%;
  min-width: 350px !important;

  app-logo {
    height: 55%;
    margin: 0 1em;
  }
}

.mat-tab-nav-bar {
  height: 100%;
  font-size: 1.25 em;
  font-weight: bold;

  /deep/ .mat-tab-links,
  /deep/ .mat-tab-link {
    font-weight: bold;
    color: #fff;
    height: 100% !important;
  }

  /deep/.mat-tab-nav-bar.mat-primary .mat-tab-link:not(.mat-tab-disabled):focus {
    background-color: transparent;
  }

  /deep/.mat-tab-label-active {
    // opacity: 1;
  }

  /deep/.mat-ink-bar {
    background-color: #A3A0FB;
  }
}

.sidenav {

  app-navbar {
    background-color: rgba(#000, 0.05);
    .menu {
      color: #000;
    }
  }

  .mat-subheader {
    font-size: 1em;
    padding: 0;
  }

  .mat-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
  }

  iframe {
    border: 0;
    height: 350px;
  }
}

.sidenav-content {
  padding: 1em;
}

.mat-progress-bar {
  height: 1px;
}

.mat-list-item-content {
  justify-content: flex-end;
  text-align: end;
}

#info {
  margin: 0 1em;
  min-width: 150px;
  cursor: pointer;
}

#username {
  font-size: 0.7em;
  cursor: pointer;
  margin: 0.2em;

  span {
    border-left: 2px solid grey;
    padding-left: 1em;
  }

  .avator {
    height: 60%;
    border-radius: 50%;
  }
}
