<mat-card>
  <mat-card-header>
    <div mat-card-avatar
         class='card-icon'>
      <mat-icon> notes </mat-icon>
    </div>
    <mat-card-title>Course</mat-card-title>
  </mat-card-header>

  <div *ngFor="let course of courseService.courses$ | async">
    <button mat-button
            (click)="openEditDialog(course)"> {{ course.name }}</button>
  </div>

  <mat-card-actions align='end'>
    <button mat-button
            color="primary"
            (click)="openAddDialog()">ADD</button>
  </mat-card-actions>
</mat-card>
