@import 'variables';

@mixin relative_full () {
  position: relative;
  height: 100%;
  width: 100%;
}

@mixin absolute_full () {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

@mixin inset_shadow () {
  box-shadow: inset 0 0 40px 1px rgba($black, .5);
}

@mixin no_smooth_font() {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
