@import './variables';
@import '~@angular/material/theming';
@include mat-core();
$light-primary: mat-palette($mat-light-green, A400);
$light-accent: mat-palette($mat-grey, 700);
$light-warn: mat-palette($mat-red);
$light-theme: mat-light-theme($light-primary, $light-accent, $light-warn);

$dark-primary: mat-palette($mat-light-green, A200);
$dark-accent: mat-palette($mat-teal, 600);
$dark-warn: mat-palette($mat-red, A700);
$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);
.light-theme {
  @include angular-material-theme($light-theme);
}

@include angular-material-theme($dark-theme);
.mat-drawer-backdrop.mat-drawer-shown {
  background: $transparent-black-stronger;
}

.mat-drawer-backdrop,
.mat-drawer-content,
.mat-sidenav-content {
  overflow: hidden !important;
}

.mat-progress-bar-buffer {
  // background-color: #424242;
  background-color: #c8c8c8;
}

.mat-list-item-content {
  cursor: pointer;
  background-color: transparent;
}

.mat-list-item-content:hover {
  background-color: $transparent-black-weaker;
}

.mat-table {
  background-color: transparent;
}

.mat-paginator {
  background-color: transparent;
}

.mat-sidenav-container {
  height: 100%;
  widows: 100%;
  background-color: transparent;
}

.mat-sidenav {
  height: 100%;
  min-width: 300px;
  background-color: $transparent-black;
}

.mat-header-cell {
  font-size: 1em;
}

.mat-tooltip {
  // white-space: pre;
  font-size: 1em !important; // color: $green-primary !important;
  background-color: $transparent-black-strongest !important;
}
