/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
// @import "~bootstrap/scss/bootstrap-grid";

@import 'variables';
@import 'mixins';
@import 'keyframes';
// @import 'theme';

html,
body,
app-root {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  margin: 0;
  font-family: $font;
}
