<h1 mat-dialog-title> Add New Category</h1>
<div mat-dialog-content>

  <mat-accordion>
    <mat-expansion-panel *ngFor="let category of categoryService.categories$ | async as categories">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{category.name }}
        </mat-panel-title>
        <mat-panel-description>
          <span>
            {{ (category?.children?.length || '0' )}} sub categories
          </span>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <!-- <ng-template matExpansionPanelContent> -->
      <div fxLayout="column">
        <div fxLayout="row"
             fxLayoutAlign="start center"
             *ngFor="let subCategory of category.children">
          <button mat-icon-button
                  (click)="removeChild(subCategory, category)">
            <mat-icon>clear</mat-icon>
          </button>
          <span>
            {{ subCategory.name }}
          </span>
        </div>
      </div>
      <!-- </ng-template> -->

      <mat-action-row>
        <mat-form-field fxFlex="grow">
          <input matInput
                 placeholder="New category"
                 #input>
        </mat-form-field>
        <button mat-icon-button
                [disabled]='!hasValue(input.value)'
                (click)="appendChild(input.value, category)">
          <mat-icon>add</mat-icon>
        </button>
      </mat-action-row>
      <mat-action-row>
        <button mat-button
                color="warn"
                (click)="removeNode(category)">Delete Category</button>
      </mat-action-row>

    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          ADD
        </mat-panel-title>
        <mat-panel-description>
          <span>
            Add new main category
          </span>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>
        <div fxFlex="grow"
             fxLayout="row">
          <mat-form-field fxFlex="grow">
            <input matInput
                   placeholder="New category"
                   #input>
          </mat-form-field>
          <button mat-icon-button
                  [disabled]='!hasValue(input.value)'
                  (click)="addNode(input.value)">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </ng-template>

    </mat-expansion-panel>
  </mat-accordion>

</div>

<div mat-dialog-actions
     align="end">
  <button mat-raised-button
          color="primary"
          [mat-dialog-close]>Close</button>
</div>
