<h1 mat-dialog-title> Edit Course </h1>

<form mat-dialog-content
      *ngIf="course"
      fxFlex='grow'
      [formGroup]="formGroup">

  <p class='imageDisplay'>
    <img [src]="course?.imageUrl">
  </p>

  <form formGroupName="course">
    <mat-form-field>
      <input matInput
             formControlName="name"
             placeholder="Name">
      <mat-error *ngIf="getFormControl('course.name').hasError('required')">
        Course Name is
        <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput
                formControlName="description"
                placeholder="Description"
                matTextareaAutosize
                matAutosizeMinRows=10
                matAutosizeMaxRows=10></textarea>
      <mat-error *ngIf="getFormControl('course.description').hasError('required')">
        Course Description is
        <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Category"
                  formControlName="category">
        <mat-option>-- None --</mat-option>
        <mat-optgroup *ngFor="let category of categoryService.categories$ | async as categories"
                      [label]="category.name">
          <mat-option *ngFor="let subCategory of category.children"
                      [value]="subCategory.name">
            {{subCategory.name}}
          </mat-option>
        </mat-optgroup>
      </mat-select>

      <mat-error *ngIf="getFormControl('course.category').hasError('required')">
        Course Category is
        <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </form>

  <mat-accordion formArrayName="lectures">
    <mat-expansion-panel *ngFor="let control of formGroup.get('lectures').controls; index as i;">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Lecure: {{ i + 1 }}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>
        <form fxLayout="column"
              [formGroupName]="i">
          <input fxHide
                 formControlName="id">
          <input fxHide
                 formControlName="videoUrl">
          <mat-form-field>
            <input matInput
                   formControlName="name"
                   [value]="control.get('name').value"
                   placeholder="Name">
          </mat-form-field>

          <mat-form-field>
            <textarea matInput
                      formControlName="description"
                      [value]="control.get('description').value"
                      placeholder="Description"></textarea>
          </mat-form-field>
        </form>
      </ng-template>

      <mat-action-row>
        <button mat-button
                color="warn"
                (click)="removeLecture(control.value)">Delete</button>
      </mat-action-row>
    </mat-expansion-panel>

  </mat-accordion>



  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          ADD
        </mat-panel-title>
        <mat-panel-description>
          <span>
            Add new lecture
          </span>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <form fxLayout="column"
              formGroupName="newLecture">

          <mat-form-field>
            <input matInput
                   placeholder="Name"
                   formControlName="name">
          </mat-form-field>

          <mat-form-field>
            <textarea matInput
                      placeholder="Description"
                      formControlName="description"></textarea>
          </mat-form-field>

          <input fxHide
                 formControlName="videoUrl">
          <file-upload-button (fileSet)='onFileSet($event)'
                              #upload>
            {{ upload.file ? 'Upload Video' : 'Upload Video' }}
          </file-upload-button>
        </form>

      </ng-template>

      <mat-action-row>
        <button mat-button
                color="primary"
                [disabled]="formGroup.get('newLecture').invalid"
                (click)="addLecture()">Add Lecture</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>

</form>

<div mat-dialog-actions
     align="end">
  <button mat-button
          color="warn"
          [mat-dialog-close]>Delete</button>

  <button mat-button
          color="primary"
          [mat-dialog-close]>Close</button>
</div>
