<h1 mat-dialog-title> Add New Category</h1>
<div mat-dialog-content>

  <mat-accordion>
    <mat-expansion-panel *ngFor="let category of categoryService.categories$ | async as categories">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{category.name }}
        </mat-panel-title>
        <mat-panel-description>
          <span>
            {{ (category.children.length || '0' )}} sub categories
          </span>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div fxLayout="column">
        <p *ngFor="let subCategory of category.children">
          {{ subCategory.name }}
        </p>

        <div fxFlex="grow"
             fxLayout="row">
          <mat-form-field fxFlex="grow">
            <input matInput
                   placeholder="New category"
                   #input>
          </mat-form-field>
          <button mat-icon-button
                  (click)="submit(input.value, category)">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>

    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{'ADD'}}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div fxFlex="grow"
           fxLayout="row">
        <mat-form-field fxFlex="grow">
          <input matInput
                 placeholder="New category"
                 #input>
        </mat-form-field>
        <button mat-icon-button
                (click)="submit(input.value)">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

</div>

<div mat-dialog-actions>
  <button mat-raised-button
          color="primary"
          [mat-dialog-close]>Close</button>
</div>
