<mat-card>
  <mat-card-header>
    <div mat-card-avatar
         class='card-icon'>
      <mat-icon> category </mat-icon>
    </div>
    <mat-card-title>Course</mat-card-title>
  </mat-card-header>

  <div *ngFor="let course of courseService.courses$ | async">
    <button mat-button
(click)="openLectureDialog(course)"> {{ course.name }}</button>
  </div>
  <mat-card-content>

  </mat-card-content>

  <mat-card-actions align='end'>
    <button mat-button
            (click)="openCourseDialog()">ADD</button>
  </mat-card-actions>
</mat-card>
