<h1 mat-dialog-title> Add New Course</h1>

<div mat-dialog-content>
  <p>Course Name</p>
  <mat-form-field>
    <input matInput
           placeholder="Name"
           #name>
  </mat-form-field>
  <p>Course Description</p>
  <mat-form-field>
    <textarea matInput
              placeholder="Description"
              #desc></textarea>
  </mat-form-field>
</div>

<div mat-dialog-actions>
  <button mat-raised-button
          color="primary"
          [mat-dialog-close]>Close</button>

  <button mat-raised-button
          color="primary"
          (click)="add(name.value, desc.value)">Add</button>
</div>
